## Telegram Channel Username, must be configured. The string of characters following t.me/
## Support multiple channels by separating them with commas, e.g. channel1,channel2
## NOTE: The first channel in the list is the "Primary Channel". 
## Its old permalinks (e.g. /posts/123) and RSS URLs will remain exactly the same for backwards compatibility.
## Other channels will have URLs prefixed with their name (e.g. /posts/channel2-123).
CHANNEL=miantiao_me

LOCALE=zh-cn
TIMEZONE=Asia/Shanghai

TELEGRAM=miantiao_me
TWITTER=miantiao_me
GITHUB=miantiao-me
DISCORD=https://DISCORD.com
PODCASRT=https://PODCASRT.com
MASTODON=mastodon.social/@Mastodon
BLUESKY=bsky.app

FOOTER_INJECT=FOOTER_INJECT
HEADER_INJECT=HEADER_INJECT

NO_FOLLOW=false
NO_INDEX=false
HIDE_DESCRIPTION=false

TELEGRAM_HOST=telegram.dog
STATIC_PROXY=""
GOOGLE_SEARCH_SITE=""
TAGS=""
COMMENTS=""
REACTIONS=""
LINKS=""
NAVS=""
RSS_BEAUTIFY=""
FILTER_IMAGES=""
AD_KEYWORDS=""
